<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  
  <typeAliases>
    <typeAlias type="com.connectcloset.cc.common.typehandler.StringArrayTypeHandler" alias="strArrTypeHandler"/>
    <!-- 해당 클래스를 소문자로 자동으로 alias처리 해줌 -->
    <package name="com.connectcloset.cc.member.model.vo"/>
<!--     <package name="com.kh.spring.demo.model.vo"/>
    <package name="com.kh.spring.member.model.vo"/> -->
  </typeAliases>
  
</configuration>